<?xml version='1.0' encoding='UTF-8'?>
<manifest>
  <remote name='mtg' fetch='https://gitlab.com/MindTheGapps/' />
  <project path='vendor/gapps' name='vendor_gapps' revision='96b642a14236fb2c3c4015e68dc956fc78ca836e' remote='mtg' />
</manifest>
